{% if pagina.has_other_pages %}
  <nav class="mt-4" aria-label="Navegação entre páginas">
    <ul class="pagination justify-content-center">
      <li class="page-item {% if not pagina.has_previous %}disabled{% endif %}">
        {% if pagina.has_previous %}
          <a class="page-link"
             href="?{% if parametros_consulta %}{{ parametros_consulta }}&{% endif %}page={{ pagina.previous_page_number }}">
            Anterior
          </a>
        {% else %}
          <span class="page-link">Anterior</span>
        {% endif %}
      </li>
      <li class="page-item disabled">
        <span class="page-link">Página {{ pagina.number }} de {{ pagina.paginator.num_pages }}</span>
      </li>
      <li class="page-item {% if not pagina.has_next %}disabled{% endif %}">
        {% if pagina.has_next %}
          <a class="page-link"
             href="?{% if parametros_consulta %}{{ parametros_consulta }}&{% endif %}page={{ pagina.next_page_number }}">Próxima</a>
        {% else %}
          <span class="page-link">Próxima</span>
        {% endif %}
      </li>
    </ul>
  </nav>
{% endif %}
